language: java

matrix:
   include:
      - jdk: oraclejdk8
        env: JFX=-PnoExternalJavafx
      - jdk: oraclejdk9
        env: JFX=-PnoExternalJavafx
      - jdk: oraclejdk11
        env: JFX=
      - jdk: openjdk10
        env: JFX=
      - jdk: openjdk11
        env: JFX=
      - jdk: openjdk-ea
        env: JFX=

before_install:
  - export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start

install:
   ./gradlew assemble $JFX

script:
   ./gradlew check $JFX

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -fr $HOME/.gradle/caches/*/fileHashes/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
