version: 'alpha-{build}'
os: Windows Server 2012
install:
  - cmd: choco install ffmpeg
  - cmd: refreshenv
cache:
   - '%USERPROFILE%\.gradle\caches\'
   - '%USERPROFILE%\.gradle\wrapper\'
environment:
   matrix:
   - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.8.0
   - JAVA_HOME: C:\Program Files\Java\jdk9
init:
   - 'git config --global core.autocrlf true'
build_script:
   - 'gradlew --no-daemon -PlocalPublishLocation=file:///C:/projects/fxfightstage/maven/ assemble uploadArchives'
test_script:
   - 'gradlew --no-daemon check'
artifacts:
   - path: ./maven
     name: maven
   - path: ./core/build/libs/*.tar.gz
     name: core_libs
   - path: ./demo/build/libs/*.tar.gz
     name: demo_libs
   - path: ./samples/build/libs/*.tar.gz
     name: samples_libs
   - path: ./samples/build/distributions/FxFightStageSamples.jar
     name: samples_runner
